[user]
	name = Song Yangyu
	email = flyfy1@gmail.com

[branch "master"]
  remote = origin
[push]
	default = matching

[alias]
  st = status
  stp = status --porcelain
  aa = add -A :/
  au = add -u :/
  ci = commit
  cm = commit -m
  pm = push origin master
  pp = push origin master
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
