[user]
	name = Song Yangyu
	email = flyfy1@gmail.com

[branch "master"]
  remote = origin
[push]
	default = matching

[alias]
  st = status
  stp = status --porcelain
  aa = add -A :/
  au = add -u
  ci = commit
  cm = commit -m
  pc = push origin HEAD
  pf = push -f origin HEAD
  ph = push -f heroku master
  up = pull --rebase origin master
  uh = pull --rebase origin HEAD
  uu = pull --rebase upstream master
  co = checkout
  d  = diff
  bd = branch -D
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
[github]
	user = flyfy1
